@import "styles/constraints.scss";

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: $color-header-bg;
  border-top: 1px solid $color-header-border;
  border-bottom: 1px solid $color-header-border;

  .circle_wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 15px;

    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000000;
      margin-left: 7px;

      &.red {
        background-color: #db6e5d;
      }

      &.yellow {
        background-color: #eac045;
      }

      &.green {
        background-color: #7dc34d;
      }

      @media screen and (max-width: $media-mobile) {
        &.yellow {
          display: none;
        }
        &.green {
          display: none;
        }
      }
    }
  }

  .search_wrap {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90%;
      width: 50%;
      border-radius: 5px;
      background-color: $color-header-search-bg;
      border: 1px solid $color-header-search-border;
      color: $color-header-search-text;

      .icon {
        margin-right: 5px;
        .svg {
          width: 14px;
          height: 14px;
          fill: $color-header-search-icon;
        }
      }

      .text {
        padding-bottom: 2px;
      }
    }
  }

  .sidebar_wrap {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 15px;

    ul {
      display: flex;
      flex-direction: row;

      li {
        &:first-child {
          margin-right: 7px;
        }

        .svg {
          width: 16px;
          fill: $color-header-icon;
        }

        @media screen and (max-width: $media-mobile) {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: $media-mobile) {
    .search_wrap {
      .title {
        width: 90%;
      }
    }
  }
}
