@import "styles/constraints.scss";

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $color-content-indicator-text;
  font-size: 0.9rem;
  background-color: $color-content-indicator-bg;

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 28px;
    border-right: 1px solid $color-content-indicator-border;
    border-bottom: 1px solid $color-content-indicator-border;

    .icon {
      width: 14px;
      height: 28px;
      text-align: right;

      .svg {
        width: 15px;
        height: 16px;
      }
    }
    .close {
      position: absolute;
      right: 0;
      top: 5px;
      width: 16px;
      display: none;

      .svg {
        width: 16px;
        height: 16px;
      }
    }

    &.active {
      color: $color-content-indicator-highlight-text;
      background-color: $color-content-indicator-highlight-bg;
      border-top: 1px solid $color-content-indicator-highlight-border;
      border-bottom: none;

      .close {
        display: block;
      }
    }

    &:last-child {
      flex: 1 0 auto;
      border-right: none;
      background-color: $color-content-indicator-none-bg;
      border-bottom: 1px solid $color-content-indicator-border;
    }

    &:hover .close {
      display: block;
    }
  }
}
