.about {
  flex-direction: column;
  position: relative;
  color: var(--color-content);
}

.about_wrap {
  width: 100%;
  height: 100%;
}

.about_item_wrap {
  padding: 0.5rem;
  border-radius: 10%;
  border: 1px solid var(--color-black);
}

.about_item_wrap i {
  font-size: 2rem;
}

.about_item_name {
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--color-white);
}

.usecomputer {
  position: absolute;
  width: 250px;
  height: 250px;
}

.usecomputer.first {
  top: 100px;
  left: 50px;
  background: url("../../../public/images/usecomputer1.png") no-repeat center
    center;
  background-size: contain;
}

.usecomputer.second {
  top: 300px;
  right: 50px;
  background: url("../../../public/images/usecomputer2.png") no-repeat center
    center;
  background-size: contain;
}

.usecomputer.third {
  top: 500px;
  left: 0;
  background: url("../../../public/images/usecomputer3.png") no-repeat center
    center;
  background-size: contain;
}

.usecomputer.fourth {
  top: 750px;
  right: 0;
  background: url("../../../public/images/usecomputer4.png") no-repeat center
    center;
  background-size: contain;
}

@media screen and (max-width: 768px) {
}
