.intro {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../../../public/images/bg_universe.png") no-repeat left
    center;
  background-size: cover;
  position: relative;
}

.title_wrap {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  &:before {
    display: block;
    content: "";
    width: 100%;
    margin-left: -5%;
    margin-bottom: 5%;
    border-top: 1px solid #fff;
    -webkit-animation: 2.5s draw;
    animation: 2.5s draw;
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    -webkit-animation: 2.5s draw-bottom;
    animation: 2.5s draw-bottom;
  }
}

.title {
  width: 100%;
  color: #fff;
  -webkit-animation: 3s fade;
  animation: 3s fade;
}

.scroll_down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  height: 3rem;
  transform: translateX(-50%);
}

.scroll_down p {
  position: relative;
  padding-left: 2.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.scroll_down p::before {
  top: -0.4rem;
  left: 0px;
  width: 0.2rem;
  height: 2.5rem;

  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.scroll_down p::after {
  overflow: hidden;
  box-sizing: border-box;
  top: 1rem;
  left: -0.75rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgb(60, 64, 64);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  animation: 1.2s ease-in-out 0s infinite normal none running scrollDown;

  content: "";
  position: absolute;
}

@media screen and (max-width: 768px) {
  .scroll_down {
    bottom: 5rem;
  }
  .scroll_down p::before {
    top: 0px;
    height: 2.2rem;
  }
}

@keyframes scrollDown {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}

@keyframes draw-bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
