.projects {
  padding: 5rem 0;
}

.project_wrap {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
}

.description:hover {
  opacity: 0.8;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.project1 {
  background: url("../../../public/images/projects/project_shoppy.png")
    no-repeat center center;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 0;
  }
  .project_wrap {
    height: 90vh;
    background-size: cover;
    background-position: left;
  }

  .description {
    width: 100%;
    opacity: 0.8;
  }
}
