@import "styles/constraints.scss";

.body_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: $color-default-text;
  background-color: $color-default-bg;
  font-family: "synthese", sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
}
